body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
}

.conteiner{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 920px;
}

.button{
    padding: 15px 40px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin-right: 15px;
    display: inline-block;
    transition: background 0.5s;
}

.button:hover{
    background-color: #929da5;
}

.button-primary{
    background-color: #63c6ae;
}

.button-secondary{
    background-color: #455357;
}

.header{
    background: #fff;
    width: 100%;
}

.header__title{
    display: block;
    background-color: #63c6ae;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

.header__menu{
    clear: left;
}

.header__menu ul{
    margin: 0;
    padding: 0;
}

.header__menu li{
    text-align: center;
    list-style: none;
    background-color: #242c2c;
    text-transform: uppercase;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    color: #586165;
}

.header__menu li a{
    display: block;
    padding: 25px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: color ease 0.8s;
}

.header__menu li a:hover{
    color: #63c6ae;
}

.hero{
    background: 
        linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom  no-repeat,
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../img/herobg.jpg);
    background-size: 40px 40px, 40px 40px, cover;

    height: 80vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__title{
    background-color: #63c6ae;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.hero__text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    padding: 20px;
    font-size: 16px;
    color: white;
}

.hero__btn{
    display: inline-block;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}

.peopleCards{
    margin-top: 2.5em;
}

.peopleCards__card:hover{
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
}

.peopleCards:hover .peopleCards__avatar img{
    transform: translateY(-50%);
}

.peopleCards:hover .peopleCards__text, 
.peopleCards:hover .peopleCards__title{
    color: #63c6ae;
}

.peopleCards__image{
    width: 100%;
}

.peopleCards__avatar{
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.peopleCards__content{
    padding: 40px 25px 10px; 
    text-align: center;
    border-left: 1px solid #dbe1e7;
}

.peopleCards__title{
    font-size: 20px;
    color: #737c85;
    font-weight: normal;
}

.peopleCards__text{
    font-size: 14px;
    color: #929da5;
}

.content{
    background-color: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}

.content__title{
    font-weight: 400;
    color: #737c85;
    padding-top: 40px;
    font-size: 21px;
}

.content__text{
    color: #929da5;
    font-size: 14px;
    word-spacing: 3px;
}

.lastesArticle__title{
    background-color: #63c6ae;
    padding: 20px;
}

.lastesArticle__title h2{
    margin: 0;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.lastesArticles__thubs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.lastesArticles__thubs img{
    width: 100%;
}

.laptopSlider{
    background-color: #242a2c;
    padding: 124px 0 100px;
    overflow: auto;
}

.laptopSlider__show{
    white-space: nowrap;
}

.laptopSlider__show figure{
    display: inline;
}

.quotes{
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #48b9a1;
}

.quotes__text{
    color: white;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
}

.quotes__description{
    color: white;
    text-align: center;
    font-size: 18px;
}

.no-js .quotes figure + figure{
    margin-top: 5em
}

.footer{
    background-color: #242a2c;
    color: #454e51;
    padding: 50px 0 250px;
    font-size: 14px;
}

.footer__title{
    text-transform: uppercase;
}

.footer__links{
    list-style: none;
    font-weight: 600;
}

.footer__links a{
    color: #454e51;
    text-decoration: none;
    
}

@media screen and (min-width: 1024px) {
    
    .header{
        position: fixed;
    }

    .header__title{
        width: 26%;
        box-sizing: border-box;
        text-align: right;
    }

    .header__button{
        display: none;
    }

    .header__menu{
        width: 74%;
        clear: none;
        float: left;
        max-width: 800px;
    }

    .header__menu ul{
        display: flex;
        justify-content: space-around;
    }

    .header__menu li{
        background-color: white;
        flex-grow: 1;
    }

    .peopleCards__conteiner{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
    }

    .content .conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px
    }

    .lastesArticles__thubs{
        grid-template-columns: repeat(6, 1fr);
    }

    .footer .conteiner{
        display: flex;
    }

    .footer .conteiner > * {
        margin-right: 1.5em;
    }

}