body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #fff;
    width: 100%;
}

.header__title{
    display: block;
    background-color: #63c6ae;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

.header__menu{
    clear: left;
}

.header__menu ul{
    margin: 0;
    padding: 0;
}

.header__menu li{
    text-align: center;
    list-style: none;
    background-color: #242c2c;
    text-transform: uppercase;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    color: #586165;
}

.header__menu li a{
    display: block;
    padding: 25px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: color ease 0.8s;
}

.header__menu li a:hover{
    color: #63c6ae;
}

.hero{
    background: 
        linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom  no-repeat,
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat,
        url(../img/herobg.jpg);
    background-size: 40px 40px, 40px 40px, cover;

    height: 80vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__title{
    background-color: #63c6ae;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: white;
}

.hero__text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    padding: 20px;
    font-size: 16px;
    color: white;
}

.hero__btn{
    display: inline-block;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}